@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  #__next {
    width: 100%;
    height: 100%;
  }
  button {
    user-select: none;
  }
  .tw_bg_blue {
    background-color: blue;
  }
  .tw_bg_green {
    background-color: green;
  }
  .tw_bg_red {
    background-color: red;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and 엣지 */
    scrollbar-width: none; /* 파이어폭스 */
  }
  .apexcharts-xaxis-title-text {
    transform-origin: left top 0;
    font-size: 12px;
    font-weight: 700;
    fill: #374151;
    transform: translateX(34%) translateY(-5%) rotate(0deg);
  }
  .apexcharts-yaxis-title-text {
    transform-origin: left top 0;
    font-size: 12px;
    font-weight: 700;
    fill: #374151;
    transform: translateX(8%) translateY(-33%) rotate(0deg);
  }
}
