.controlArea{
    position: relative;
    background-color: #1c1945;
    width: 100%;
    padding: 30px;
}

.singleKnob{
    margin: 10px;
    width: max-content;
}
.singleKnobIndicator{
    margin: 3px;
    width: max-content;
}
.controlPanel{
    position: relative;
    display: flex;
    border-radius: 20px;
    border: 2px solid white;
    padding: 2em;
    background-color: #1c1945;
    margin-bottom: 10px;
}
.title{
    position: absolute;
    color: white;
    background-color: #1c1945;
    /* background-color: white; */
    top: -25px;
    left: 1em;
    width: 6em;
    height: 1em;
    padding-bottom: 1.5em;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
  }

.controller{
    position: relative;
    display: flex;
    border-radius: 20px;
    border: 2px solid white;
    width: max-content;
    padding: 2em;
    background-color: #1c1945;
    margin-top: 20px;
    margin-bottom: 10px;
}


.indicator{
    position: relative;
    display: flex;
    border-radius: 20px;
    border: 2px solid white;
    width: max-content;
    height: max-content;
    padding: 1em;
    margin-inline: 1em;
    background-color: #1c1945;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}