.root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 180px;
  height: 100%;
  min-height: 720px;
  background: #dddddd;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
}

.linkContainer {
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
  width: 100%;
}

.nonActive {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

/* Specific styles for active links */
.active {
  font-size: 14px;
  font-weight: bold;
  color: #646eff;
}